/* Put your CSS in here */
body {
  font-family: Arial, Helvetica, sans-serif;
}


.right {
float:right;
display: flex;
text-align: center;
flex-direction: column;
flex-wrap: wrap;
}

table, th, td {
  width: 30%;
  border:1px solid black;
}